
body {
    background: #EFF0F4;
    margin: 0px;
}


.page-header {
    background-color: #415F9D;
    margin: 0px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #EFF0F4;
    font-size: 32pt;
    text-decoration: none;
    font-family: 'Arial', cursive;
}

/* Add a black background color to the top navigation */
.topnav {
    margin: 0px;
    background-color: #233B6E;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

/* color of links on hover */
.topnav a:hover {
    background-color: #415F9D;
    color: black;
}

/* color to the active/current link */
.topnav a.active {
    background-color: lightseagreen;
    color: white;
}

.table {
    margin: 20px;
    border-style: hidden;
    box-shadow: black;
    border-color: #373A40;
    font-size: 18px;
}

form {
    font-size: 18px;
    margin: 20px;
}

input {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    box-shadow: black;
    border-color: #373A40;
    font-size: 18px;
}

td {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    padding: 5px;
    color: black;
    background: #D3D6DB;
    width: 80px;
    font-size: 18px;
}

.msg {
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #233B6E;
    color: #EFF0F4;
    text-align: center;
}