
body {
    background: #EFF0F4;
    margin: 0px;
    font-family: Arial;
}


.page-header {
    background-color: #415F9D;
    margin: 0px;
    padding: 10px 20px 10px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #EFF0F4;
    font-size: 32pt;
    text-decoration: none;
}

.topnav {
    margin: 0px;
    background-color: #233B6E;
    overflow: hidden;
}

/* links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

/* color of links on hover */
.topnav a:hover {
    background-color: lightsteelblue;
    color: black;
}

/* color to the active/current link */
.topnav a.active {
    background-color: lightseagreen;
    color: white;
}

.table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #373A40;
    font-size: 16px;
}

table th {
    background-color: #233B6E;
    color: #EFF0F4;
    padding: 12px 10px 12px 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

table tr:nth-child(odd) td {
    background-color: white;
}


table td {
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


form {
    font-size: 16px;
    margin: 20px;
}

input {
    margin: 10px;
    padding: 6px;
    font-size: 16px;
}


.btn {
    margin: 5px;
    padding: 5px;
    width: 85px;
    font-size: 14px;
}

.msg {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    color: red;
}


.content {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: fit-content;
    text-align: center;
    margin: 0px;
}

.content h2 {
    font-size: 28px;
}

.content li {
    font-size: 18px;
    text-align: left;
}

.txt {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin: 0px;
}

.gallery {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: fit-content;
}

.img {
    max-width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #233B6E;
    color: #EFF0F4;
    text-align: center;
}