
body {
    background: #EFF0F4;
    margin: 0px;
}

.page-header {
    background-color: #415F9D;
    margin: 0px;
    padding: 10px 20px 10px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #EFF0F4;
    font-size: 32pt;
    text-decoration: none;
}

/* Add a black background color to the top navigation */
.topnav {
    margin: 0px;
    background-color: #233B6E;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

/* color of links on hover */
.topnav a:hover {
    background-color: lightsteelblue;
    color: black;
}

/* color to the active/current link */
.topnav a.active {
    background-color: lightseagreen;
    color: white;
}

.table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #373A40;
    font-size: 18px;
}

table th {
    background-color: #415F9D;
    color: #EFF0F4;
    padding: 12px 10px 12px 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
table tr:nth-child(odd) td {
  background-color: white;
}

table tr:hover td {
  background-color: lightsteelblue;
}

table td {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    font-size: 18px;
    margin: 20px;
}

input {
    margin: 10px;
    padding: 6px;
    font-size: 18px;
}



.btn {
    margin: 5px;
    padding: 5px;
    width: 100px;
    font-size: 18px;
}

.msg {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #233B6E;
    color: #EFF0F4;
    text-align: center;
}