{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add room</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Nav -->
<header class="page-header">
    <div class="container">
        <h1><a href="/home/">Conference room rental system</a></h1>
    </div>
</header>


<nav>
  <a class="nav-item nav-link active" href="/">Room list</a>
  <a class="nav-item nav-link" href="/">Add room</a>
</nav>
<!-- Nav -->

<form action="" method="POST">
    {% csrf_token %}
    <label>Name:
        <input type="string" name="name">
    </label></br>

    <label> Capacity:
        <input type="number" name="capacity">
    </label></br>

    <label> Projector availability:
        <label> Yes
            <input type="radio" name="projector" value="True">
        </label>
        <label> No
            <input type="radio" name="projector" value="False" checked>
        </label>
    </label></br>

    <button type="submit">Submit</button>
</form>
{{ message }}



<!-- Footer -->
<footer class="footer">
  <span class="text-muted">Michał Jemieljańczuk</span>
</footer>
<!-- Footer -->
</body>
</html>