{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add room</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Nav -->
<header class="page-header">
    <div class="container">
        <h1><a href="{% url 'home' %}">Conference room rental system</a></h1>
    </div>
</header>

<div class="topnav">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'rooms' %}">Room list</a>
    <a href="{% url 'search-room' %}">Search room</a>
    <a class="active" href="{% url 'new-room' %}">Add room</a>
</div>
<!-- Nav -->

<div class="content_2">
    <form action="" method="POST">

        {% csrf_token %}
        <label>Name:
            <input type="string" name="name">
        </label></br>

        <label> Capacity:
            <input type="number" name="capacity">
        </label></br>

        <label> Projector availability:
            <input type="checkbox" name="projector" value="True">
        </label>

        <button class="btn" type="submit">Submit</button>

    </form>

    <div class="msg">
        {{ message }}
    </div>

</div>


<!-- Footer -->
<footer class="footer">
    <span class="text-muted">created by saradonin</span>
</footer>
<!-- Footer -->
</body>
</html>