<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: black;
       color: white;
       text-align: center;
    }
  </style>
</head>
<body>
<!-- Nav -->
<h1>Conference room rental system</h1>
<nav>
  <a class="nav-item nav-link active" href="/">Room list</a>
  <a class="nav-item nav-link" href="/">Add room</a>
</nav>
<!-- Nav -->



<!-- Footer -->
<footer class="footer">
  <span class="text-muted">Michał Jemieljańczuk</span>
</footer>
<!-- Footer -->
</body>
</html>