{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Nav -->
<h1>Conference room rental system</h1>
<nav>
  <a class="nav-item nav-link active" href="/">Room list</a>
  <a class="nav-item nav-link" href="/">Add room</a>
</nav>
<!-- Nav -->



<!-- Footer -->
<footer class="footer">
  <span class="text-muted">Michał Jemieljańczuk</span>
</footer>
<!-- Footer -->
</body>
</html>