{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Nav -->
<header class="page-header">
    <div class="container">
        <h1><a href="/home/">Conference room rental system</a></h1>
    </div>
</header>


<nav>
  <a class="nav-item nav-link active" href="/rooms/">Room list</a>
  <a class="nav-item nav-link" href="/room/new/">Add room</a>
</nav>
<!-- Nav -->



<!-- Footer -->
<footer class="footer">
  <span class="text-muted">created by saradonin</span>
</footer>
<!-- Footer -->
</body>
</html>