{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search room</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Nav -->
<header class="page-header">
    <div class="container">
        <h1><a href="/home/">Conference room rental system</a></h1>
    </div>
</header>


<div class="topnav">
    <a class="active" href="/home/">Home</a>
    <a href="/rooms/">Room list</a>
    <a href="/search/">Search room</a>
    <a href="/room/new/">Add room</a>
</div>
<!-- Nav -->
<form action="" method="GET">
<!--    <label>Name:-->
<!--        <input type="string" name="name">-->
<!--    </label></br>-->
    <label> Minimal capacity:
        <input type="number" name="capacity" value="{{ calacity }}">
    </label>

    <label> Projector availability:
        <input type="checkbox" name="projector" value="True">
    </label>
    <button class="btn" type="submit">Search</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Availability</th>
        <th>Projector</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Reserve</th>
    </tr>
    </thead>

    <tbody>
    {% for room in rooms %}
    <tr>
        <td>{{ room.name }}</td>
        <td>{{ room.capacity }}</td>
        {% if room.reserved %}
        <td style="color:red;">Booked</td>
        {% else %}
        <td style="color:green;">Available</td>
        {% endif %}
        <td>{{ room.projector_availability|yesno:"Yes, No"  }}</td>
        <td><a href="/room/details/{{ room.id }}/">
            <button class="btn">Details</button>
        </a></td>
        <td><a href="/room/modify/{{ room.id }}/">
            <button class="btn">Edit</button>
        </a></td>
        <td><a href="/room/delete/{{ room.id }}/">
            <button class="btn">Delete</button>
        </a></td>
        <td><a href="/room/reserve/{{ room.id }}/">
            <button class="btn">Reserve</button>
        </a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No rooms available</td>
    </tr>
    {% endfor %}

    </tbody>
</table>


<!-- Footer -->
<footer class="footer">
    <span class="text-muted">created by saradonin</span>
</footer>
<!-- Footer -->
</body>
</html>